# setuptools_scm - includes all git-committed files
exclude .editorconfig
exclude .gitignore
exclude .gitlab-ci.yml
exclude venv.sh
# version
include src/tvthekidx/_version.py
# temp
global-exclude __pycache__
global-exclude *.py[co]
